<footer class="site-footer">
  <div class="wrapper">
  <div class="subscribe-area">
  <p>Subscribe</p>
  	<ul>
  		<li><a href="https://itunes.apple.com/au/podcast/they-came-from-silver-screen/id1096049586?mt=2" target="_blank">iTunes</a></li>
  		<li><a href="https://overcast.fm/itunes1096049586/they-came-from-the-silver-screen" target="_blank">Overcast</a></li>
  		<li><a href="http://www.stitcher.com/podcast/they-came-from-the-silver-screen" target="_blank">Stitcher</a></li>
  		<li><a href="http://simplecast.com/podcasts/1865/rss">RSS</a></li>
  		
  	</ul>
  </div>
  <div class="footer-note"> They Came From the Silver Screen &#xA9; {{ 'now' | date: "%Y" }} </div>
  </div>
  </footer>